<div class="container">
    <div class="row">
        <div class="col-xs-12 flex">
            <h1>Server Controller</h1>
            <hr>
        </div>
        <div class="col-6">
            <app-servers></app-servers>
        </div>
        <div class="col-6">
            <label>Username</label>
            <input
                type="text"
                class="form-control"
                placeholder="Insert username here..."
                (keydown)="enterKeySave($event)"
                [(ngModel)]="username">
            <div class="d-flex justify-content-between">
                <button
                  class="btn btn-primary"
                  [disabled]="username === ''"
                  (click)="onFormSave()">Save
                </button>
                <button
                  class="btn btn-primary"
                  (click)="addOne()">+ 1
                </button>
                <button
                  class="btn btn-secundary"
                  [disabled]="username === ''"
                  (click)="onReset()">Reset
                </button>
            </div>
            <p>{{ showUsername }}</p>
            <div
              *ngFor="let logItem of log; let i = index"
              [ngStyle]="{backgroundColor: i >= 3 ? 'palegreen' : 'transparent'}"
            >{{ logItem }}</div>
        </div>
    </div>
</div>
