.server-status {
    font-weight: 700;
    border-radius: 32px;
    background-color: red;
    color: aliceblue;
    padding: 4px 12px 5px 12px;
    text-align: center;
}

.online{background-color: green;}
